<div id='spliter' data-bind='splitter: { position: 200}'>
<div class='nav-panel ui-state-highlight' data-bind="template: { name: navigationTmpl(), data:navigation }">
    &nbsp; Left panel
</div>
<div class='ui-state-highlight main-panel' data-bind="template: { name: mainContentTmpl(), data:mainContent }">
    &nbsp; Right panel
</div>

</div>